{% extends 'base.html' %}
{% load static %}
{% block title %} Médicos {% endblock  %}
{% block content %}

<div>
    <div>
        <div> Foram encontrados: {{ medics | length }} médico(s) </div>
            {% if request.GET.msg %}
        <div>{{ request.GET.msg }}</div>
        {% endif %}
        <div>
        {% for medic in medics %}
            <div>
                <div>
                    <div style='background-image:
                    url('/media/{{medic.image}}');'></div>
                    <div>
                        <h5>{{medic.user.get_full_name}}</h5>
                        <h6> Nota: {{medic.show_scoring_average}}
                            <i></i></h6>
                        <ul>
                            {% for speciality in medic.specialties.all %}
                            <li> {{speciality}} </li>
                            {% endfor %}
                        </ul>
                        <div title= {{medic.addresses.first.address}}
                            alt= {{medic.addresses.first.address}}{{medic.addresses.first.address
                                                | default: 'Nenhum endereço.' | slice:':15'}}>...
                        </div>
                    <a href={% url 'profile' medic.user.id %}> Ver médico </a>
                {% if user.is_authenticated %}
                <form method='POST' action='/medic/favorite'>
                    {% csrf_token %}
                    <input type='hidden' value='{{medic.user.id}}' name='id'>
                    <input type='hidden' value='{{request.GET.page}}' name='page'>
                    <input type='hidden' value='{{request.GET.name}}' name='name'>
                    <input type='hidden' value='{{request.GET.speciality}}' name ='speciality'>
                    <input type='hidden' value='{{request.GET.neighborhood}}' name='neighborhood'>
                    <input type='hidden' value='{{request.GET.city}}' name='city'>
                    <input type='hidden' value='{{request.GET.state}}' name='state'>
                    <button type='submit' class='btn btn-danger btn-card'><i></i> Favoritos </button>
                </form>
                {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
        <div>
            <nav aria-label='Page navigation'>
                <ul>
                    {% if medics.has_previous %}
                <li><a href='? page=1{{ parameters }}'>&laquo; Primeiro </a></li>
                <li><a href='? page={{ medics.previous_page_number }}{{ parameters }}'> Anterior </a></li>
                    {% endif %}
                        <li><a href='#'> Página {{ medics.number }} de {{ medics.paginator.num_pages }}.</a></li>
                    {% if medics.has_next %}
                        <li><a href='? page={{ medics.next_page_number }}{{ parameters }}'> Último &raquo; </a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div>
{% endblock  %}