<!-- prettier-ignore -->
{% load static %} 
{% block title %} {{title}} 
{% endblock %}
{% block content %}
<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1,  shrink-to-fit=no"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Red+Hat+Display:wght@300&family=ZCOOL+XiaoWei&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/output.css' %}" />
  </head>
  <body>
    <div class="w-screen h-screen flex">
      <!-- imagem lado esquerdo -->
      <div
        class="bg-cover bg-center w-3/5"
        style="background-image: url('{% static 'img/paciente-medico.png' %}')"
      ></div>
      <!-- formulario lado direito -->
      <form method="POST" class="bg-white w-2/5">
        <div class="h-full flex flex-col justify-center mx-20">
          <!-- logo -->
          <a href="/" class="flex justify-center mb-9">
            <img
              class="h-[54px]"
              src="{% static 'img\logo.svg' %}"
              alt="Logo"
            />
            <span class="font-inter font-extrabold text-5xl">medic</span>
          </a>
          <!-- form -->
          <label class="font-inter text-base mb-[10px] ml-3"
            >{{ form.username.label}}</label
          >
          {{ form.username}}
          <label class="font-inter text-base mb-[10px] ml-3 mt-6"
            >{{ form.password.label}}</label
          >
          {{ form.password}}
          <div class="flex justify-between mt-7">
            <div class="flex items-center">
              <input type="checkbox" id="remember" />
              <label class="text-sm ml-1">Lembrar senha</label>
            </div>
            <a href="" class="text-sm text-neutral-500">Esqueceu a senha?</a>
          </div>
          <button class="" type="submit">{{button_text}}</button>
        </div>
      </form>
    </div>
  </body>
  <!-- <body>
    <form method="POST" action="">
      {% if message is not None %}
      <div>{{ message.text }}</div>

      <div class="font-inter font-semibold text-4xl">
        {% endif %} {% csrf_token %} {% for f in form %}
      </div>
      <div>
        {{ f.label }} {{ f }} {% for error in f.errors %}
        <div style="display: initial">{{ error }}</div>
        {% endfor %}
      </div>
      {% endfor %}
      <a
        href="{{link_href}}"
        style="display: block; text-align: center; margin-bottom: 20px"
        >{{link_text}}</a
      >
      <button type="submit">{{button_text}}</button>
    </form>
  </body>  -->
</html>
{% endblock %}
