<!-- prettier-ignore -->
{% load static %} 
{% block title %} {{title}} 
{% endblock %}
{% block content %}
<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1,  shrink-to-fit=no"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Red+Hat+Display:wght@300&family=ZCOOL+XiaoWei&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/output.css' %}" />
  </head>
  <body>
    <div>
      <div>
        <div>
          <form method="POST" action="">
            {% if message is not None %}
            <div>{{ message.text }}</div>
            <div class="font-inter font-semibold text-4xl">
              {% endif %} {% csrf_token %} {% for f in form %}
            </div>
            <div>
              {{ f.label }} {{ f }} {% for error in f.errors %}
              <div style="display: initial">{{ error }}</div>
              {% endfor %}
            </div>
            {% endfor %}
            <a
              href="{{link_href}}"
              style="display: block; text-align: center; margin-bottom: 20px"
              >{{link_text}}</a
            >
            <button type="submit">{{button_text}}</button>
          </form>
        </div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
