<!-- prettier-ignore -->
{% load static %} 
{% block title %} {{title}} 
{% endblock %}
{% block content %}
<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1,  shrink-to-fit=no"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Red+Hat+Display:wght@300&family=ZCOOL+XiaoWei&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/output.css' %}" />
  </head>
  <body>
    <div class="w-screen h-screen flex lg:mx-auto lg:flex-row">
      <!-- imagem lado esquerdo -->
      <div class="absolute flex justify-center lg:w-1/2 lg:relative lg:my-auto">
        <span
          class="absolute top-0 left-1/2 transform -translate-x-1/2 z-50 w-full flex justify-center mt-[155px] lg:absolute lg:mt-[104px] lg:justify-end lg:mr-[-100px]"
        >
          <button
            type="button"
            class="flex text-white bg-btn-light-300 focus:outline-none focus:ring-4 focus:ring-btn-light-200 focus:bg-btn-light-500 hover:bg-btn-light-500 shadow-lg shadow-sky-700-200/70 font-inter font-medium rounded-lg text-sm px-2.5 py-2.5 text-center me-2 mb-2 lg:mt-[-30px] lg:ml-[76px]"
          >
            <svg
              class="w-5 mr-1"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 32 32"
            >
              <path
                fill="currentColor"
                d="m13.281 6.781l-8.5 8.5l-.687.719l.687.719l8.5 8.5l1.438-1.438L7.938 17H28v-2H7.937l6.782-6.781z"
              />
            </svg>
            Portal do Médico
          </button>
        </span>
        <div
          class="absolute w-full h-full flex justify-center md:items-center lg:items-end"
        >
          <div
            class="flex flex-col text-center z-30 font-inter text-white mt-7 md:mt-6"
          >
            <span class="font-medium text-lg mb-[-10px]"
              >Conectando médicos,</span
            >
            <span class="font-bold text-[28px]">salvando vidas.</span>
          </div>
          <!-- logo -->
          <div
            class="absolute z-30 mr-1 mt-24 md:mt-14 md:mr-0 md:relative md:ml-10 lg:flex lg:justify-between lg:mt-2"
          >
            <div class="flex items-center mb-9">
              <img
                class="h-[40px] text-white"
                src="{% static 'img\logo.svg' %}"
                alt="Logo"
              />
              <span
                class="font-inter font-extrabold text-white text-[32px] ml-3"
                >medic</span
              >
            </div>
          </div>
        </div>
        <div class="relative w-screen h-44 bg-btn-100/70 z-20 lg:hidden"></div>
        <div class="lg:ml-[100px]">
          <div
            class="hidden lg:rounded-[60px] lg:w-[636px] lg:h-[607px] bg-gradient-to-t from-bgPrimary-50 to-transparent to-70% z-10 lg:absolute blend-multiply lg:block"
          ></div>
          <div
            class="hidden lg:w-[636px] lg:h-[607px] lg:rounded-[60px] lg:bg-cover lg:bg-center z-0 lg:relative lg:block"
            style="
              background-image: url('{% static 'img/paciente-medico.png' %}');
            "
          ></div>
        </div>
      </div>
      <!-- formulario lado direito -->
      <form method="POST" class="w-full mt-[220px] lg:w-1/2 lg:mt-[61px]">
        <div class="flex justify-center">
          <button
            type="button"
            onclick="window.history.back()"
            class="text-gray-300 border border-gray-300 hover:border-gray-400 hover:text-gray-400 focus:outline-none font-medium rounded-2xl text-sm p-2.5 text-center inline-flex items-center me-2 mb-[10px] lg:mb-[41px]"
          >
            <svg
              class="w-7 h-7"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 16 16"
            >
              <path
                fill="currentColor"
                fill-rule="evenodd"
                d="M10.53 2.97a.75.75 0 0 1 0 1.06L6.56 8l3.97 3.97a.75.75 0 1 1-1.06 1.06l-4.5-4.5a.75.75 0 0 1 0-1.06l4.5-4.5a.75.75 0 0 1 1.06 0"
                clip-rule="evenodd"
              />
            </svg>
            <span class="sr-only">Voltar</span>
          </button>
        </div>
        <div class="flex flex-col justify-center mx-[32px] md:mx-20 lg:ml-[100px]">
          {% csrf_token %}
          <!-- form -->
          <div
            class="flex flex-col font-inter font-bold text-[38px] text-center mb-4 md:flex-row md:justify-center"
          >
            <span>Bem-vindo</span>
            <span class="mt-[-14px] md:mt-0 md:ml-2">de volta</span>
          </div>
          <label class="font-inter text-sm mb-[10px] ml-3"
            >{{ form.username.label}}</label
          >
          {{ form.username}}
          <label class="font-inter text-sm mb-[10px] ml-3 mt-4"
            >{{ form.password.label}}</label
          >
          {{ form.password}}
          <div
            class="flex items-center justify-between font-inter font-light mt-4 mx-2"
          >
            <div class="flex items-start">
              <div class="flex items-center space-x-2">
                <input
                  type="checkbox"
                  id="example1"
                  class="h-4 w-4 rounded-md border border-gray-300 text-primary-600 shadow-sm focus:rounded-md focus:border-primary-300 focus:ring focus:ring-primary-200 focus:ring-opacity-50 focus:ring-offset-0 disabled:cursor-not-allowed disabled:text-gray-400"
                />
                <label
                  for="example1"
                  class="text-sm font-inter font-normal text-gray-950"
                  >Lembrar senha</label
                >
              </div>
            </div>
            <a
              href="#"
              class="text-sm font-inter font-medium text-gray-400 hover:underline"
              >Esqueceu a senha?</a
            >
          </div>
          <!-- alert messages -->
          {% if messages %}
          <ul class="mt-4">
            {% for message in messages %}
            <!-- prettier-ignore -->
            <li
                class="{% if message.tags %}{% if message.tags == 'error' %}flex items-center p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50
                {% elif message.tags == 'info' %} flex items-center p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50 
                {% elif message.tags == 'success' %} flex items-center p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50{% endif %} {% endif %}"
              >
                <svg
                  class="flex-shrink-0 inline w-4 h-4 me-3"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                >
                  <path
                    d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
                  />
                </svg>
                <span class="font-medium">{{ message }}</span>
              </li>
            {% endfor %}
          </ul>
          {% endif %}
          <button
            class="text-white bg-btn-100 hover:bg-btn-200 focus:ring-4 focus:ring-blue-300 font-inter font-medium rounded-lg text-sm px-5 py-2.5 mt-[18px]"
            type="submit"
          >
            {{button_text}}
          </button>

          <div class="relative mt-6">
            <div class="absolute inset-0 flex items-center">
              <div class="w-full border-t border-gray-300"></div>
            </div>
            <div class="relative flex justify-center text-sm leading-5">
              <span class="px-2 font-inter text-gray-400 bg-white">
                Ou continue com
              </span>
            </div>
          </div>
          <button
            class="text-neutral-900 border border-gray-300 bg-white hover:bg-btn-light-100 hover:border-btn-light-300 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mt-[18px]"
            type="submit"
          >
            <div class="flex justify-center font-inter text-sm">
              <svg
                width="18"
                height="18"
                viewBox="0 0 48 48"
                xmlns="http://www.w3.org/2000/svg"
                class="mr-1"
              >
                <path
                  fill="#FFC107"
                  d="M43.611 20.083H42V20H24v8h11.303c-1.649 4.657-6.08 8-11.303 8c-6.627 0-12-5.373-12-12s5.373-12 12-12c3.059 0 5.842 1.154 7.961 3.039l5.657-5.657C34.046 6.053 29.268 4 24 4C12.955 4 4 12.955 4 24s8.955 20 20 20s20-8.955 20-20c0-1.341-.138-2.65-.389-3.917"
                />
                <path
                  fill="#FF3D00"
                  d="m6.306 14.691l6.571 4.819C14.655 15.108 18.961 12 24 12c3.059 0 5.842 1.154 7.961 3.039l5.657-5.657C34.046 6.053 29.268 4 24 4C16.318 4 9.656 8.337 6.306 14.691"
                />
                <path
                  fill="#4CAF50"
                  d="M24 44c5.166 0 9.86-1.977 13.409-5.192l-6.19-5.238A11.91 11.91 0 0 1 24 36c-5.202 0-9.619-3.317-11.283-7.946l-6.522 5.025C9.505 39.556 16.227 44 24 44"
                />
                <path
                  fill="#1976D2"
                  d="M43.611 20.083H42V20H24v8h11.303a12.04 12.04 0 0 1-4.087 5.571l.003-.002l6.19 5.238C36.971 39.205 44 34 44 24c0-1.341-.138-2.65-.389-3.917"
                />
              </svg>
              Entrar com o Google
            </div>
          </button>
          <div class="flex justify-center font-inter text-sm mt-4">
            <p class="text-neutral-500">Novo no site?</p>
            <a href="{{link_href}}" class="font-medium text-neutral-950 ml-1"
              >Registre-se</a
            >
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
{% endblock %}
