{% load compress %}
<!-- prettierignore -->
{% load static %}

<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1,  shrink-to-fit=no"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Red+Hat+Display:wght@300&family=ZCOOL+XiaoWei&display=swap"
      rel="stylesheet"
    />
    {% compress css %}
    <link rel="stylesheet" href="{% static 'css/output.css' %}" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/CSSReset.css' %}"
    />
    {% endcompress %}

    <title>Medic - {% block title %}{% endblock %}</title>
  </head>
  <body class="bg-bgPrimary-200">
    <nav
       class="w-full bg-white border-gray-200 shadow-lg shadow-neutral-900/5 py-2 fixed z-40"
    >
      <div>
        <div
          class="flex flex-wrap items-center justify-between mx-10 lg:mx-[88px]  ipad-pro:mx-10"
        >
          <!-- Logo -->
          <a
            href="{% url 'home' %}"
            class="flex items-center rtl:space-x-reverse"
          >
            <img
              class="h-9 mr-[5px]"
              src="{% static 'img\logo.svg' %}"
              alt="Logo"
            />
            <span class="font-inter font-extrabold text-3xl">medic</span>
          </a>
          <button
            data-collapse-toggle="targetEl"
            type="button"
            class="inline-flex p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg lg:hidden md:block hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"
            aria-controls="triggerEl"
            aria-expanded="false"
          >
            <span class="sr-only">Abra o menu</span>
            <svg
              class="w-5 h-5"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 17 14"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M1 1h15M1 7h15M1 13h15"
              />
            </svg>
          </button>
          <!-- Navigation links -->
          <div
            class="w-full block lg:w-auto lg:flex items-center"
            id="targetEl"
          >
            <div>
              <ul
                class="font-inter font-medium text-base flex flex-col p-4 mt-4 bg-gray-50 ipad-pro:text-sm ipad-pro:space-x-4 lg:p-0 justify-center lg:flex-row lg:space-x-8 lg:mt-0 lg:bg-white"
              >
                <a
                  href="{% url 'home' %}"
                  class="{% if request.resolver_match.url_name == 'home' %}block py-2 pl-2 text-white text-center bg-bgPrimary-50 rounded lg:bg-transparent lg:text-bgPrimary-50 lg:p-0 {% else %}block text-center py-2 text-gray-900 rounded hover:bg-gray-100 hover:bg-transparent hover:text-bgPrimary-50 transition duration-200 ease-in-out transform hover:-translate-y-1 hover:scale-100 lg:py-0{% endif %}"
                  >Home</a
                >
                <a
                  href="{% url 'home_patient' %}"
                  class="{% if request.resolver_match.url_name == 'home_patient' %}block py-2 pl-2 text-white text-center bg-bgPrimary-50 rounded lg:bg-transparent lg:text-bgPrimary-50 lg:p-0 {% else %}block text-center py-2 text-gray-900 rounded hover:bg-gray-100 hover:bg-transparent hover:text-bgPrimary-50 transition duration-200 ease-in-out transform hover:-translate-y-1 hover:scale-100 lg:py-0{% endif %}"
                  >Agendar consulta</a
                >
                {% if user.is_authenticated %}
                <a
                  href=""
                  class="{% if request.resolver_match.url_name == 'minhas_consultas' %}block py-2 pl-2 text-white text-center bg-bgPrimary-50 rounded lg:bg-transparent lg:text-bgPrimary-50 lg:p-0 {% else %}block text-center py-2 text-gray-900 rounded hover:bg-gray-100 hover:bg-transparent hover:text-bgPrimary-50 transition duration-200 ease-in-out transform hover:-translate-y-1 hover:scale-100 lg:py-0{% endif %}"
                  >Minhas consultas</a
                >
                {% endif %}
                <a
                  href=""
                  class="{% if request.resolver_match.url_name == 'profissionais' %}block py-2 pl-2 text-white text-center bg-bgPrimary-50 rounded lg:bg-transparent lg:text-bgPrimary-50 lg:p-0 {% else %}block text-center py-2 text-gray-900 rounded hover:bg-gray-100 hover:bg-transparent hover:text-bgPrimary-50 transition duration-200 ease-in-out transform hover:-translate-y-1 hover:scale-100 lg:py-0{% endif %}"
                  >Profissionais</a
                >
                <a
                  href=""
                  class="{% if request.resolver_match.url_name == 'sobre_nos' %}block py-2 pl-2 text-white text-center bg-bgPrimary-50 rounded lg:bg-transparent lg:text-bgPrimary-50 lg:p-0 {% else %}block text-center py-2 text-gray-900 rounded hover:bg-gray-100 hover:bg-transparent hover:text-bgPrimary-50 transition duration-200 ease-in-out transform hover:-translate-y-1 hover:scale-100 lg:py-0{% endif %}"
                  >Sobre nós</a
                >
              </ul>
            </div>
            <div class="w-12 ipad-pro:w-6"></div>
            <div
              class="flex flex-col space-y-3 md:space-x-3 md:space-y-0 justify-center md:flex-row lg:w-auto py-3"
            >
              <!-- User data -->
              {% if user.is_authenticated %}
              <div class="group flex items-center">
                  {% if user.profile.image %}
                  <img
                    class="w-10 h-10 rounded-full"
                    src="{{ user.profile.image.url }}"
                    alt="{{ user.username }} avatar"
                  />
                  {% else %}
                  <img
                    class="w-10 h-10 rounded-full"
                    src="{% static 'img/default_avatar.png' %}"
                    alt="Default avatar"
                  />
                  {% endif %}
                  <div class="font-medium pl-4">
                    <div class="-mb-1">{{ user.username }}</div>
                    <div class="text-sm text-gray-500">
                      {{ user.email }}
                    </div>
                  </div>
                  <div id="toggleDropdown" class="relative inline-block mt-6 pl-2"
                  >
                    <svg
                      class="w-3 h-3 text-gray-400 hover:text-gray-800"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 14 8"
                    >
                      <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="m1 1 5.326 5.7a.909.909 0 0 0 1.348 0L13 1"
                      />
                    </svg>
                    <!-- Dropdown menu -->
                    <div id="dropdownMenu" class="absolute origin-top-right right-0 mt-8 z-10 w-48 bg-white divide-y divide-gray-100 rounded-b-lg rounded-tl-lg shadow-lg">
                        <ul class="py-2 text-sm text-gray-700">
                          <li>
                            <a href="{% url 'edit_profile' %}" class="block px-4 py-2 text-sm hover:bg-blue-100  ">Editar perfil</a>
                          </li>
                        </ul>
                        <div class="py-2">
                          <a href="{% url 'logout'%}" class="block px-4 py-2 text-sm hover:bg-blue-100 ">Sair</a>
                        </div>
                    </div>
                  </div>
              </div>
              {% else %}
              <!-- button login -->
              <button
                type="button"
                class="font-inter text-sm font-medium text-colorBlue-100 hover:text-white border border-colorBlue-100 rounded-md hover:bg-colorBlue-100 py-3 px-4"
              >
                <a href="#"> Portal do Médico </a>
              </button>

              <button
                type="button"
                class="font-inter text-sm font-medium text-colorBlue-100 hover:text-white border border-colorBlue-100 rounded-md hover:bg-colorBlue-100 py-3 px-4"
              >
                <a href="{% url 'login_patient' %}"> Portal do Paciente </a>
              </button>
            </div>
            {% endif %}
          </div>
        </div>
    </nav>   
        <section class="lg:pt-20">{% block content %}{% endblock %}</section>
        <!-- ... rest of your HTML code ... -->

        <footer class="bg-colorBlue-100 w-full h-[449px]">
          <div class="flex flex-col lg:flex-row justify-between text-white pt-20 mx-4 lg:mx-28">
            <div class="flex items-center pr-4 lg:pr-32 mb-4 lg:mb-0">
              <img class="h-12" src="{% static 'img\logo.svg' %}" alt="Logo" />
              <span class="font-inter font-extrabold text-4xl">medic</span>
            </div>
            <div class="mb-6 w-full lg:w-1/4">
              <h5 class="mb-2 text-2xl font-inter font-medium">
                Central <br />
                de ajuda
              </h5>
              <ul class="font-inter font-light space-y-6 pt-6">
                <li>Perguntas Frequentes</li>
                <li>Fale Conosco</li>
                <li>Ouvidoria</li>
              </ul>
            </div>
            <div class="mb-6 w-full lg:w-1/4">
              <h5 class="mb-2 text-2xl font-inter font-medium">
                Atendimento <br />
                à convênios
              </h5>
              <ul class="font-inter font-light space-y-6 pt-6">
                <li>Planos Atendidos</li>
                <li>Especialidades</li>
                <li>
                  Agendamentos de <br />
                  Consulta
                </li>
              </ul>
            </div>
            <div class="w-full lg:w-1/4">
              <h5 class="mb-2 text-2xl font-inter font-medium">
                Responsabilidade <br />
                social
              </h5>
              <ul class="font-inter font-light space-y-6 pt-6">
                <li>Ações Sociais</li>
                <li>Voluntariado</li>
                <li>Faça sua doação</li>
              </ul>
            </div>
          </div>

          <div
            class="mt-8 border-t border-[#69b3ff] pt-4 mx-4 lg:mx-28 text-white text-opacity-40"
          >
            <div class="flex flex-col lg:flex-row items-center justify-between">
              <div class="mb-4 text-sm">
                Copyright ©2023 All rights reserved
              </div>
              <div class="flex space-x-4 mb-4 lg:mb-0">
                <!-- ... your SVG icons ... -->
              </div>
            </div>
          </div>
        </footer>
        {% block scripts %}{% endblock %}
        <!-- <script src="{% static 'js\selectButtons.js' %}"></script> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
        <script src="{% static 'js\dropdown.js' %}"></script>
      </div>
  </body>
</html>
