{% extends "base.html" %}
{% load static %}
{% block title %}Início{% endblock %}
{% block content %}

<div>
    <div>
      <div>
        <div>
            <form action={% url 'medics' %} method="GET">
                <h3>Buscar um médico</h3>
                <div>
                    <div><input type="text" class="form-control"
                    name="name" placeholder="Buscar por nome"></div>
                </div>
                <div>
                    <div>
                        <select name="speciality">
                            <option value="0" selected disabled>Selecione uma especialidade</option>
                            <option value="1">Neurocirugia</option>
                        </select>
                    </div>
                    <div>
                        <select name="state">
                            <option value="0" selected disabled>Selecione um estado</option>
                            <option value="1">Rio de Janeiro</option>
                        </select>
                    </div>
                </div>
                <div>
                    <div>
                        <select name="city">
                            <option value="0" selected disabled>Selecione uma cidade</option>
                            <option value="1">Rio de Janeiro</option>
                        </select>
                    </div>
                    <div>
                        <select name="neighborhood">
                            <option value="0" selected disabled>Selecione um bairro</option>
                            <option value="1">Botafogo</option>
                        </select>
                    </div>
                </div>
                <div>
                    <div><button type="submit" class="btn btn-primary">Buscar</button></div>
                </div>
            </form>
        </div>
      </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{% endblock  %}