<!-- prettier-ignore -->
{% extends "base.html" %} 
{% load static %} 
{% block title %} Início {% endblock %}
{% block content %}

<section class="w-full h-[651px] bg-bgPrimary-200 relative z-10">
  <div
    class="bg-cover bg-center w-full h-full absolute z-0"
    style="background-image: url('{% static './img/male-doctor-with.jpg' %}')"
  ></div>
  <div class="absolute z-10 right-0 flex justify-end w-full">
    <form
      class="flex w-[527px] h-[507px] bg-white rounded-3xl shadow-xl mt-10 mr-[120px] items-center justify-center"
      action="{% url 'medics' %}"
      method="GET"
    >
      <div class="flex flex-col w-full p-14">
        <h3 class="font-inter font-semibold text-4xl text-center mb-5">
          Encontre um médico
        </h3>

        <div
          class="bg-gray-50 w-full h-10 border border-gray-300 rounded-lg mb-3"
        >
          <input
            class="w-full h-full font-inter text-sm px-4 outline-none"
            type="text"
            name="name"
            placeholder="Buscar por nome"
          />
        </div>

        <div
          class="bg-gray-50 w-full h-10 border border-gray-300 rounded-lg mb-3"
        >
          <select
            class="block w-full h-full font-inter text-sm text-gray-400 pl-4 outline-none"
            name="speciality"
          >
            <option value="0" selected disabled>
              Selecione uma especialidade
            </option>
            <option value="1">Neurocirugia</option>
          </select>
        </div>
        <div
          class="bg-gray-50 w-full h-10 border border-gray-300 rounded-lg mb-3"
        >
          <select
            class="block w-full h-full font-inter text-sm text-gray-400 pl-4 outline-none"
            name="state"
          >
            <option value="0" selected disabled>Selecione um estado</option>
            <option value="1">Rio de Janeiro</option>
          </select>
        </div>
        <div
          class="bg-gray-50 w-full h-10 border border-gray-300 rounded-lg mb-3"
        >
          <select
            class="block w-full h-full font-inter text-sm text-gray-400 pl-4 outline-none"
            name="city"
          >
            <option value="0" selected disabled>Selecione uma cidade</option>
            <option value="1">Rio de Janeiro</option>
          </select>
        </div>
        <div
          class="bg-gray-50 w-full h-10 border border-gray-300 rounded-lg mb-3"
        >
          <select
            class="block w-full h-full font-inter text-sm text-gray-400 pl-4 outline-none"
            name="neighborhood"
          >
            <option value="0" selected disabled>Selecione um bairro</option>
            <option value="1">Botafogo</option>
          </select>
        </div>
        <div>
          <div class="text-center py-3 bg-btn-200 hover:bg-btn-300 rounded-md">
            <button
              class="font-inter font-bold text-lg text-white"
              type="submit"
            >
              Buscar médico
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
{% endblock %} {% block scripts %} {% endblock %}
