{% extends 'base.html' %}
{% load static %}
{% block title %} Médicos {% endblock  %}
{% block content %}

<div>
    <div>
        <div>
            <div>
                <div style='background-image: url('/media/{{profile.image}}');'></div>
                {% if profile.role == 1 %}
                <p>
                <i></i>Administrador</p>
                {% elif profile.role == 2 %}
                <p>
                <i></i> Médico </p>
                {% else %}
                <p>
                <i></i> Paciente </p>
                {% endif %}
                <ul>
                    <li> Nome:
                        {{profile.user.get_full_name | default:'Sem nome'}}</li>
                    <li> Usuário:   
                        {{profile.user.username | default:'Sem usuário'}}</li>
                    <li> E-mail:
                        {{profile.user.email | default:'Sem e-mail'}}</li>
                    <li> Nascimento:
                        {{profile.birthday | date:'d/m/Y' | default:'Sem data'}}</li>
                    {% if profile.role == 2 %}
                    <li> Nota:
                        {{profile.show_scoring_average}}</li>
                    <li> Especialidades:
                        {{profile.specialties.all | join:','}}</li>
                    {% endif %}
                </ul>
            </div>
                {% if profile.role == 1 or profile.role == 3 %}
                <div></div>
                <div> Total de favoritos: {{favorites | length}}</div>
                {% if request.GET.msg %}
                <div>{{ request.GET.msg }}
            </div>
                {% endif %}
                <div>
                    {% for favorite in favorites %}
                    <div>
                        <div>
                            <div style='background-image:
                            url('/media/{{favorite.image}}');'></div>
                            <div>
                                <h5>
                                    {{favorite.user.get_full_name}}</h5>
                                <h6> Nota:
                                    {{favorite.show_scoring_average}} <i></i></h6>
                                <ul>
                                    {% for speciality in favorite.specialties.all %}
                                        <li>{{speciality}}</li>
                                    {% endfor %}
                                </ul>
                                <div>
                                    {{favorite.addresses.first.address | default:'Nenhum endereço.'
                                    | slice:':15'}}...
                                </div>
                                <a href={% url 'profile' favorite.id %}> Ver médico </a>
                                {% if user.is_authenticated %}
                                <form method='POST' action={% url 'medic-favorite-remove' %}> 
                                    {% csrf_token %}
                                    <input type='hidden' value='{{favorite.id}}' name='id'>
                                    <input type='hidden' value='{{request.GET.page}}' name='page'>
                                    <button type='submit' class='btn btn-danger btn-card'><i class='fa fa-heart'>
                                    </i> Remover </button>
                                </form>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div>
                    <nav aria-label='Page navigation' class='navigation'>
                        <ul>
                            {% if favorites.has_previous %}
                                <li>
                                <a href='?page=1'>&laquo; Primeiro</a></li>
                                <li>
                                <a href='?page={{ favorites.previous_page_number }}'> Anterior </a></li>
                            {% endif %}
                                <li>
                                <a href='#'> Página {{ favorites.number }} de {{ favorites.paginator.num_pages }}.
                                </a></li>
                            {% if favorites.has_next %}
                                <li>
                                <a href='?page={{ favorites.next_page_number }}'> Próximo <a/></li>
                                <li>
                                <a href='?page={{ favorites.paginator.num_pages }}'> Último &raquo;<a/></li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
                {% else %}
                    <div role='alert'> Total de endereços: {{profile.addresses.all | length}}</div>
                    <div>
                    {% for address in profile.addresses.all %}
                    <div>
                        <div>
                            <div>
                                <h5>{{address.address}},
                                    {{address.neighborhood.name}}, {{address.neighborhood.city}}</h5>
                                <h6> Telefones:
                                    {{address.phone}}</h6>
                                <ul>
                                    <li> Dias de funcionamento: </li>
                                        {% for day in address.days_week.all %}
                                    <li> - {{day.name}} | {{address.opening_time}} -
                                        {{address.closing_time}}</li>
                        {% endfor %}
                    </ul>
                    {% if profile.user.id == request.user.id %}
                    <a href='/address/{{address.id}}'>
                    <i></i></a>
                    {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
                    <div> Total de avaliações: {{ ratings | length }}</div>
                    <div>
                        <div>
                            <ul>
                                {% for rating in ratings %}
                                <li href='#'>
                                    <div>
                                        <h5>{{rating.user.get_full_name}}</h5>
                                        <small>{{rating.created_at}}</small>
                                    </div>
                                    <div>
                                        <nav aria-label='Page navigation'>
                                            <ul>
                                            {% if ratings.has_previous %}
                                                <li><a href='?page=1'>
                                                    &laquo; Primeiro </a></li>
                                                <li><a href='?page={{
                                                    ratings.previous_page_number }}'> Anterior </a></li>
                                            {% endif %}
                                    <li><a href='#'> Página
                                        {{ ratings.number }} de {{ ratings.paginator.num_pages }}.</a></li>
                                            {% if ratings.has_next %}
                                                    <li><a href='?page={{
                                                        ratings.next_page_number }}'> Próximo </a></li>
                                                    <li><a href='?page={{
                                                        ratings.paginator.num_pages }}'> Último &raquo; </a></li>
                                            {% endif %}
                                </ul>
                            </nav>
                        </div>
                                    {{rating.opinion}}
                                    <small>{{rating.value}}</small>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
                {% endif %}
            </div>
        </div>
    </div>   
</div>
{% endblock %}

